<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/headers') %>

    <p><%= errorMessage %></p>
    <p>Created by <%= name %></p>

    <%- include('partials/footers') %>
</body>
</html>